# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables (API Keys, secrets)
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
